@model Contact
@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div id="inner_page_banner" class="section"
         style="background-image:url(./img/Slider/slider_5.jpg);background-size: cover;background-position: center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="full">
                        <h3>Contact us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section contact_section mt-5 mb-5"
         style="background-image: url(img/contact/contact_bg.png); overflow: hidden;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 padding_0">
                    <div class="full">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="full map_section">
                                    <div id="map">
                                        <div id="googleMap" style="width:100%;height:440px;">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6078.9310940031055!2d49.8410052!3d40.3763735!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x92f42463a7364219!2sAlpha%20Gym!5e0!3m2!1sen!2s!4v1612347715562!5m2!1sen!2s"
                                                    width="680" height="630" frameborder="0" style="border:0;"
                                                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 padding_0">
                    <div class="full">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="full contact_form">
                                    <form method="post" asp-action="Indexx" enctype="multipart/form-data" class="contact_form_inner">
                                        <fieldset>
                                            <div class="field form-group">
                                                <input type="text" asp-for="@Model.Name" placeholder="Name " />
                                                <span asp-validation-for="@Model.Name" class="text-danger"></span>

                                            </div>
                                            <div class="field  form-group">
                                                <input type="email" asp-for="@Model.Email" placeholder="Email" />
                                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                            </div>
                                            <div class="field  form-group">
                                                <input type="text" asp-for="@Model.PhoneNumber" placeholder="Phone Number" />
                                                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                                            </div>
                                            <div class="field form-group">
                                                <textarea asp-for="@Model.Message" placeholder="Message "></textarea>
                                                <span asp-validation-for="@Model.Message" class="text-danger"></span>
                                            </div>
                                            <div class="field center">
                                                <button type="submit" class="margin-top_30">SEND</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>