@model List<Trainer>
@{
    ViewData["Title"] = "Index";
}
<main>
    <div id="inner_page_banner" class="section"
         style="background-image:url(img/Slider/slider_6.jpg);background-size: cover; background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="full">
                        <h3>Trainers</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Search Form Start-->
    <!--End of Search Form-->
    <section id="trainer" style="background-image: url(img/popular/qantel_1.png); overflow: hidden;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form class="search-wrapper" method="get" asp-action="Index">
                        <div class="input-holder">
                            <input type="text" class="search-input" value="@ViewData["GetTrainers"]" name="searchString" placeholder="Type to search" />
                            <button class="search-icon" type="submit" onclick="searchToggle(this, event);"><span></span></button>
                        </div>
                        <span class="close" onclick="searchToggle(this, event);"></span>
                    </form>
                </div>
            </div>
            <div class="row mt-5">
                @foreach (Trainer tra in Model)
                {
                    <div class="col-lg-3">
                        <div class="single-trainer mb-45">
                            <div class="single-trainer-img">
                                <a asp-controller="Trainer" asp-action="Detail" asp-route-id="@tra.Id">
                                    <img class="img-fluid" src="~/img/trainers/@tra.Image"
                                         alt="trainer">
                                </a>
                            </div>
                            <div class="single-trainer-content text-center">
                                <h2><a asp-controller="Trainer" asp-action="Detail" asp-route-id="@tra.Id">@tra.Name</a></h2>
                                <h4>@tra.Profession</h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row mt-5" style="margin-left:43%" >
                <ul class="pagination pagination-lg">
                    @for (int i = 1; i <= ViewBag.PageCount; i++)
                    {
                        if (i == ViewBag.page)
                        {
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">@i</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Trainer"
                                   asp-action="Index"
                                   asp-route-page="@i">@i</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </section>
</main>