@model TableVM
@{
    ViewData["Title"] = "Index";

}
<main>
    <!-- Login start -->
    <div id="inner_page_banner" class="section"
         style="background-image:url(./img/Slider/slider_7.jpg);background-size: cover;background-position: center center; background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="full">
                        <h3>Time Table</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login end -->
    <article>
        <table class="all" align="center">
            <thead>
                <tr>
                    <th class="days t">Time</th>
                    @foreach (Week w in Model.Weeks)
                    {
                        <th class="days">@w.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var time in Model.Times)
                {
                    <tr>
                        <th class="time">@time.StartTime</th>
                        @foreach (var week in Model.Weeks)
                        {
                            bool IsEmpty = false;
                            <td>
                                @foreach (var item in Model.trainerWeeks.Where(rw => rw.WeekId == week.Id && rw.TimeId == time.Id))
                                {
                                    <a asp-controller="Trainer" asp-action="Detail" asp-route-id="@item.TrainerId"> @item.Trainer.Name</a><br />
                                    IsEmpty = true;
                                }
                                @(IsEmpty==false?"__":"")
                            </td>
                        }
                    </tr>
                }   
            </tbody>
        </table>
    </article>
</main>